* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #D7F2F7;
    font-family: 'Inconsolata', monospace;
    padding: 1rem;
    gap: 1rem;
}

#navbar {
    text-align: center;
    border: 2px solid #354D62;
    position: fixed;
    min-width: 300px;
    padding: 0.5rem;
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    background-color: #354D62;
    color: white;
    font-family: 'Quantico', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.8rem;
}

header ul li {
    list-style: none;
}

ul li { 
    padding: 0.5rem;
}

ul li a.nav-link {
    display: block;
    border: 1px solid black;
    padding: 0.4rem;
    
}

.nav-link {
    text-decoration: none;
    color: rgb(62, 51, 51);
}

#main-doc {
    position: absolute;
    max-width: 70%;
    margin-left: 25%;
    line-height: 1.4rem;
}

#mdn-link {
    background-color: #354D62;
    color: white;
    padding: 0.3rem;
    border-radius: 5px;
}

.back-to-top { 
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 100%;
    background: rgb(123, 182, 188);
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
} 

.back-to-top-icon {
    width: 2rem;
    height: 2rem;
    color: black;
}

.hidden {
    display: none;
    opacity: 0;
}



@media (max-width: 900px) {
    html, body {
        display: flex;
        flex-direction: column;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        position: static;
    }

    #main-doc {
        position: static;
        max-width: 100%;
        margin-left: auto;
    }
}

@media (min-width: 900px) and (max-width: 1200px){
    #main-doc {
        position: static;
        max-width: 70%;
        margin-left: 35%;
    }

    #navbar {
        min-width: 250px;  
    }
}

@media (min-width: 1200px) and (max-width: 1400px){
    #main-doc {
        position: static;
        max-width: 70%;
        margin-left: 30%;
    }

    #navbar {
        min-width: 300px;
    }
}

